* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 10%;
    background-color: black;
}

.logo {
    width: 55%;
}

.search-bar {
    width: 100%;
}

.search-bar>input {
    width: 80%;
    height: 100%;
}

.account-btn {
    background-color: red;
    display: inline-flex;
    max-height: 50%;
    color: white;
    border-radius: 3px;
}

.account-btn>p {
    font-size: larger;
    font-weight: 700;
    max-width: 100%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left,
.right,
.bottom {
    flex: 1;
    margin-right: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}


/* CSS for footer */
.footer {

    padding: 30px 0;
    /* Khoảng cách giữa nội dung và viền footer */
}

.footer p {
    margin-bottom: 10px;
    /* Khoảng cách giữa các đoạn văn bản */
}

.footer strong {
    font-size: 20px;
    /* Kích cỡ chữ cho phần tiêu đề */
}

.footer a {
    color: #fff;
    /* Màu chữ cho các liên kết */
    text-decoration: none;
    /* Loại bỏ gạch chân */
}

.footer a:hover {
    text-decoration: underline;
    /* Hiển thị gạch chân khi di chuột qua liên kết */
}