* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10%;
    background-color: white;
}

.logo {
    width: 40%;
}

/* .search-bar{
    width: 100%;
} */
.search-bar>input {
    width: 80%;
    height: 100%;
}

.account-btn {
    display: inline-flex;
    max-height: 50%;
    color: black;
    border-radius: 3px;
}

.account-btn>p {
    font-size: larger;
    font-weight: 700;
    max-width: 100%;
}

.account-btn:hover {
    color: gray;
}

/* =================== category =================== */
.category {
    border-radius: 10px;
    border: 1px solid white;
}

.category a {
    color: rgb(101, 101, 101);
    background-color: white;

    /*  */
}

.category .col-2 {
    /* border: 0.3px solid black; */
    border-radius: 10px;

}

.category .col-2:hover {
    text-decoration: none;
    color: black;
    box-shadow: inset 1px 1px 1px 1px gray;
    /* inset và màu xám */

}


/* ================== footer =============== */
.footer {
    background-color: black;
}

.footer .container {
    color: white;
}



/* ============== Slide ================ */
.slide img {
    border: 1px solid red;
    border-radius: 10px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left,
.right {
    flex: 1;
    margin-right: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    /* Màu nền cho input */
}

label,
input[type="text"],
select {
    font-size: 14px;
}


button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Độ dài và rộng tương đương với input */
    margin-bottom: 10px;
    /* Khoảng cách giữa button và các input */
}

table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    /* Giữ lại kẻ đứng ở dưới */
    padding: 8px;
    text-align: center;
}

/* Giữ lại kẻ ngang đầu tiên */
table tr:first-child th,
table tr:first-child td {
    border-top: 1px solid #ccc;
}

/* Giữ lại kẻ đứng ở cột đầu tiên */
table th:first-child,
table td:first-child {
    border-left: 1px solid #ccc;
}

/* Giữ lại kẻ đứng ở cột cuối cùng */
table th:last-child,
table td:last-child {
    border-right: 1px solid #ccc;
}

table tr:last-child {
    font-weight: bold;
    /* In đậm cho số tổng tiền */
    color: red;
    /* Thay đổi màu chữ của tổng tiền thành màu đỏ */
}


.payment-text {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0c0809, #ff4b2b);
    -webkit-background-clip: text;
    color: transparent;
}