body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: white;
    /* Màu chữ chung của trang */
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #010000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(245, 240, 240, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #d80e0e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 350px;
    padding: 10px;
}

button:hover {
    background-color: #f7efef;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input {
    height: 40px;
    /* Giảm kích thước chiều cao của input */
    width: 350px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 8px;
    /* Thay đổi padding để điều chỉnh kích thước */
    border-radius: 5px;
    font-size: inherit;
    color: black;
    transition: all 0.3s ease-in-out;
}


.form-group {
    margin-bottom: 30px;
    position: relative;
}

.label {
    position: absolute;
    padding: 0px 5px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    /* Màu nền label */
    color: black;
    /* Màu chữ của label */
    z-index: 1;
    padding: 0 8px;
}

.form-group input:focus {
    border: 2px solid #1a73e8;
}

.form-group input:focus+.label,
.form-group input:valid+.label {
    top: -20px;
    font-size: 13px;
    font-weight: 500;
    color: #1a73e8;
}